api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: 'websecure'
          scheme: 'https'
          permanent: true
  websecure:
    address: ':443'
    http:
      tls:
        certResolver: 'le'
        options: 'default' # <-- Apply options directly here

providers:
  docker:
    exposedByDefault: false
    network: 'proxy'
  file:
    filename: '/etc/traefik/dynamic_conf.yaml'
    watch: true

# Define TLS options statically
tls:
  options:
    default:
      minVersion: 'VersionTLS12'
      sniStrict: true
      curvePreferences:
        - 'CurveP521'
        - 'CurveP384'
      cipherSuites:
        - 'TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256'
        - 'TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384'
        - 'TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256'

accessLog: {}

metrics:
  prometheus: {}
