entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"
          permanent: true
  websecure:
    address: ":443"
    http:
      tls: true

certificatesResolvers:
  le:
    acme:
      email: "${TRAEFIK_ACME_EMAIL}"
      storage: "/letsencrypt/acme.json"
      httpChallenge:
        entryPoint: "web"

providers:
  docker:
    exposedByDefault: false
    network: "proxy"
  file:
    filename: "/etc/traefik/dynamic_conf.yaml"
    watch: true

api:
  dashboard: true
  insecure: false

log:
  level: "INFO"

accessLog: {}

metrics:
  prometheus: {}
