api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: 'websecure'
          scheme: 'https'
          permanent: true
  websecure:
    address: ':443'
    http:
      tls:
        certResolver: 'le'
        options: 'default@file'

providers:
  docker:
    exposedByDefault: false
    network: 'proxy'
  file:
    filename: '/etc/traefik/dynamic_conf.yaml'
    watch: true

certificatesResolvers:
  le:
    acme:
      email: '${TRAEFIK_ACME_EMAIL}'
      storage: '/letsencrypt/acme.json'
      httpChallenge:
        entryPoint: 'web'

log:
  level: '${TRAEFIK_LOG_LEVEL}'

accessLog: {}

metrics:
  prometheus: {}
