# -- Static config file for Traefik --

api:
  dashboard: true

log:
  level: "INFO"

accessLog: {}

metrics:
  prometheus: {}

providers:
  docker:
    exposedByDefault: false
    network: "proxy"
  file:
    filename: "/etc/traefik/dynamic_conf.yaml"
    watch: true

entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ':443'
    http:
      tls: true

certificatesResolvers:
  le:
    acme:
      # Email is provided via environment variable at runtime
      storage: "/letsencrypt/acme.json"
      httpChallenge:
        entryPoint: "web"

tls:
  options:
    default:
      minVersion: "VersionTLS12"
      sniStrict: true
      curvePreferences:
        - "CurveP521"
        - "CurveP384"
      cipherSuites:
        - "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
        - "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384"
        - "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256"
