x-traefik-env: &traefik-env
  <<: *domain-env
  TRAEFIK_ACME_EMAIL: ${TRAEFIK_ACME_EMAIL}
  TRAEFIK_BASIC_AUTH_USERS: ${TRAEFIK_BASIC_AUTH_USERS}

x-traefik-service: &traefik-service
  <<: *service-base-with-proxy
  image: traefik:v3.6.4
  container_name: traefik
  security_opt:
    - no-new-privileges:true
  ports:
    - 80:80
    - 443:443
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - ./services_data/traefik/internal/letsencrypt:/letsencrypt
    - ./services_data/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
    - ./services_data/traefik/dynamic_conf.yaml:/etc/traefik/dynamic_conf.yaml:ro
  environment:
    <<: *traefik-env
