x-traefik-env: &traefik-env
  <<: *domain-env  

x-traefik-service: &traefik-service
  <<: *service-base-with-proxy
  image: traefik:v3.6.4
  container_name: traefik
  security_opt:
    - no-new-privileges:true
  ports:
    - 80:80
    - 443:443
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - ./services_data/traefik/internal/letsencrypt:/letsencrypt
    - ./services_data/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
    - ./services_data/traefik/dynamic_conf.yaml:/etc/traefik/dynamic_conf.yaml:ro
  environment:
    <<: *traefik-env
    TRAEFIK_BASIC_AUTH_USERS: ${TRAEFIK_BASIC_AUTH_USERS} # <-- Keep this for middleware
  command:
    - "--configfile=/etc/traefik/traefik.yaml"
    - "--log.level=${TRAEFIK_LOG_LEVEL:-INFO}" # <-- Override log level
    - "--certificatesresolvers.le.acme.email=${TRAEFIK_ACME_EMAIL}" # <-- Override ACME email
  labels:
    # Enable Traefik for the service
    traefik.enable: true

    # Dashboard router
    traefik.http.routers.dashboard.rule: Host(`${TRAEFIK_DOMAIN}`)
    traefik.http.routers.dashboard.entrypoints: websecure
    traefik.http.routers.dashboard.service: api@internal

    # Middlewares
    traefik.http.middlewares.dashboard-auth.basicauth.users: ${TRAEFIK_BASIC_AUTH_USERS}
    traefik.http.routers.dashboard.middlewares: dashboard-auth@docker,security-headers@file
